.container-fluid {
    justify-content: space-between;
    margin-left: 20px;
}

body {
    color: rgb(34, 9, 34);
}

nav a {
    display: inline;
    padding-left: 60px;
    padding-right: 60px;
    text-decoration: none;
    color: rgb(75, 19, 19);
}

nav {
background-color: rgb(57, 9, 57);
padding-bottom: 10px;
padding-top: 10px;
text-align: center;
}


nav button {
    padding-left: 20px;
}