.container-fluid {
    justify-content: space-between;
    margin-left: 20px;
}

body {
    color: rgb(45, 6, 45);
}

nav li {
    display: inline;
    padding-right: 0px;
    padding-bottom: 10px;
    
}

nav {
background-color: rgb(57, 9, 57);
}